<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> utilisateur</title>
</head>
<body>
       <nav>
        <div class="container">
    <div class="a"><img src="#">
     <h5>matricule</h5></div>
    <div class="b">
         <h1>Ndeye Bougouma sy</h1> --><!-- afficher le nom et prenom de la personne connecter -->
        <!-- <div class="c" ><form method="GET">
        <div class="bouton">
        <input id="rech" class="form-control" type="Search" name="q" placeholder="Rechercher">
        <button class="d" name="valider" type="submit">RECHERCHE</button>
        </div>
          </form>
        </div>
    </div> 
</div>
</nav>

</body>
</html> 
 -->

