
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body class="d-flex justify-content-center w-100"> 
    <div class="contrainer mt-10 w-50" >
        <div class="card">
            <div class="card-header text-while bg-primary d-flex justify-content-center h-20" id="titre">
                FORMULAIRE D'INSCRIPTION
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-2">
                    <form  (submit)="onSubmit()"[formGroup]="registerForm" >
                        <div class="form-group">
                            <label for="firstname">Prenom</label>
                            <input [ngClass]="{'is-invalid':submitted && registerForm.controls['firstName'].errors}"
                                formControlName="firstName" type="text" class="form-control" style="height: 50px; width: 130%;">
                            <div *ngIf="submitted && registerForm.controls['firstName'].errors" class="text-danger" name="firstName">
                                <div *ngIf="submitted && registerForm.controls['firstName'].errors required">
                                    Ce champ est  require
                                </div> 
                                 <div *ngIf="submitted && registerForm.controls['firstName'].errors">
                                    First Name Should be atleast 4 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 mb-2">
                            <label for="lastname">Nom</label>
                            <input [ngClass]="{'is-invalid':submitted && registerForm.controls['lastName'].errors}"
                                formControlName="lastName" type="text" class="form-control" style="height: 50px; width: 130%;" name="lastName">
                            <div *ngIf="submitted && registerForm.controls['lastName'].errors" class="text-danger">
                                <div *ngIf="submitted && registerForm.controls['lastName'].errors['required']">
                                    Ce champ est  require
                                </div>
                            </div>
                             </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-">
                            <label for="emai">Email Address</label>
                            <input [ngClass]="{'is-invalid':submitted && registerForm.controls['email'].errors}"
                                formControlName="email" type="email" class="form-control" style="height: 50px; width: 130%;" name="email">
                            <div *ngIf="submitted && registerForm.controls['email'].errors" class="text-danger">
                                <div *ngIf="submitted && registerForm.controls['email'].errors ['required']">
                                    Ce champ est  require
                                </div>
                                <div *ngIf="submitted && registerForm.controls['email'].errors['email']">
                                    Email Address incorrect
                                </div>
                            </div>
                        </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-md-12 ">
                            <label for="emai">Role</label>
                            <select [ngClass]="{'is-invalid':submitted && registerForm.controls['email'].errors}"
                                formControlName="roles" type="text" class="form-control" style="height: 50px; width: 130%;">
                                <option value=""></option>
                                <option value="Administrateur">Admin</option>
                                <option value="Utilisateur">Utilisateur</option>
                            </select>
                            <div *ngIf="submitted && registerForm.controls['roles'].errors" class="text-danger">
                                <div *ngIf="submitted && registerForm.controls['roles'].errors ['required']">
                                    Ce champ est  require
                                </div>
                                <div *ngIf="submitted && registerForm.controls['roles'].errors['roles']">
                                   role is not Valid
                                   
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                            <label for="password">Password</label>
                            <input [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                                formControlName="password" type="password" class="form-control" style="height: 50px; width: 130%;">
                            <div *ngIf="submitted && registerForm.controls['password'].errors" class="text-danger">
                                <div *ngIf="submitted && registerForm.controls['password'].errors required">
                                    Ce champ est  require
                                </div>
                                <div *ngIf="submitted && registerForm.controls['password'].errors['minlength']">
                                    Password should be atleast 8 characters
                                </div>
                            </div>
                        </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-md-12">
                            <label for="password">Password2</label>
                            <input [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                                formControlName="password" type="password" class="form-control" style="height: 50px; width: 130%;">
                            <div *ngIf="submitted && registerForm.controls['password'].errors" class="text-danger">
                                <div *ngIf="submitted && registerForm.controls['password'].errors required">
                                    Ce champ est  require
                                </div>
                                <div *ngIf="submitted && registerForm.controls['password'].errors['minlength']">
                                    Password should be atleast 8 characters
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="form-group mt-10">
                            <button class="btn btn-primary" type="submit">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 


</body> 

