<!-- <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form (submit)="onSubmit()" [formGroup]="registerForm">
        
            <div class="form-group">
              <label for="email">Email Address</label>
              <input [ngClass]="{'is-invalid':submitted && registerForm.controls.email.errors}" formControlName="email" type="email" class="form-control">
              <div *ngIf="submitted && registerForm.controls.email.errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls.email.errors.required">
                  Email Address is required
                </div>
                <div *ngIf="submitted && registerForm.controls.email.errors.email">
                  Email Address is not Valid
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input [ngClass]="{'is-invalid':submitted && registerForm.controls.password.errors}" formControlName="password" type="password" class="form-control">
              <div *ngIf="submitted && registerForm.controls.password.errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="submitted && registerForm.controls.password.errors.minlength">
                  Password should be atleast 8 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->